@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.main-box-header{
    
    padding: 0 15px;
    
    
    
}
.header-sections{
    display: flex;
    margin-right: 171.11px;
    
}
.logo-name{
    width: 183.1px;
}
.header-section{
    
    width: 113.8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    
}
.box-header{
    display: flex;
    background: #000000;
    align-items: center;
    
    
}
.logo-name{
    margin-right: 471.62px;
    margin-left : 115.28px;
}
.icon-marg{
    margin-right: 32.8px;
}
